.novisible {
  visibility: hidden;
}

.error-message {
  border: 1px solid red;
  border-radius: 5px;
  padding: 0.5rem;
}

.site-container {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 1rem;
}
